@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root {
    --font-style: 'Nunito Sans', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}
#contenedor{
    margin: auto;
    width: 80%;
    height: 80%;
}
